.container {
  padding-top: 162px;
}

.title {
  margin: 0;
  font-weight: 700;
  margin-bottom: 50px;
  text-align: center;
  font-size: 100px;
  line-height: 90px;
}

.desc {
  margin: 0;
  text-align: center;
}